<nav class="bg-blue-500 p-4">
  <ul class="flex space-x-4">
    <li><%= link_to 'Home', root_path, class: "text-white hover:text-gray-300" %></li>
    <li><%= link_to 'About', page_path('about'), class: "text-white hover:text-gray-300" %></li>
    <li><%= link_to 'Contact', page_path('contact'), class: "text-white hover:text-gray-300" %></li>
  </ul>
</nav>
